/* ==UserStyle==
@name           GitHub
@namespace      github.com/openstyles/stylus
@version        2.2.0
@description    A new userstyle
@author         Me

@preprocessor stylus

@var checkbox remove-icons       "Partly remove icons" 1
@var checkbox old-user-status    "Old user status"     1

@var text     sidebar-width      "Sidebar width"       228px
@var select   sidebar-pos        "Sidebar position" {
	'Left':  'left',
	'Right': 'right'
}
==/UserStyle== */

// Variables
vendors = official;
$small-screen = 768px;
$select-shadow = inset 0 1px 2px rgba(0, 0, 0, 0.1);
$select-size = 16px;
$i = !important;

// Stylus
svar(var) {
	s('var(--%s)', var);
}

cond(n, yes, no) {
	(n == 0 ? no : yes) $i;
}

sel-cond(sel, pos) {
	pos ? s('%s-%s', sel, pos) : sel;
}

color-a(n, bright = true) {
	s = bright ? -2 : null;
	n = n > 6 ? n - 8 : n;

	s('hsla(var(--color%s-h),	var(--colorscheme-s%s),	var(--colorscheme-l%s), var(--bg-opacity))', n, s, s);
}

// Appearance
bg(n =) {
	background-color: s('var(--bg%s)', n) $i;

	if (n == -tr || n == -tr2 || n == -tr3) {
		backdrop-filter: var(--popup-filter) $i;
	}
}

fg(n =) {
	color: s('var(--fg%s)', n) $i;
}

bgc(n1 =, n2 =) {
	bg(n1);
	fg(n2);
}

hl() {
	background-color: var(--hl) $i;
	color: var(--hl-fg) $i;
}

accent() {
	background-color: var(--accent) $i;
	color: var(--accent-fg) $i;
}

clr(n) {
	color: s('var(--color%s)', n) $i;
}

lnh() {
	line-height: var(--line-height) $i;
}

pad(pos =, n = 1) {
	{sel-cond(padding, pos)}: \
		(n == 0 ? 0 : pos == 0 ? 0 : var(--pad)) $i;
}

mar(pos =, n = 1) {
	{sel-cond(margin, pos)}: \
		(n == 0 ? 0 : pos == 0 ? 0 : var(--pad)) $i;
}

shd(n) {
	box-shadow: cond(n, s('var(--shadow-%s)', n), none);
}

rad(n = 1) {
	border-radius: cond(n, var(--border-radius), 0);
}

brd(pos =, color = border) {
	if (color) {
		color = svar(color);
	}

	{sel-cond(border, pos)}: \
		(color == 0 ? none : pos == 0 ? none : var(--border-width) solid color) $i;
	if (!pos) {
		rad(pos);
	}
}

// Position
box(w, h = w) {
	width: w $i;
	height: h $i;
}

flex(display = flex, alignment = center, justification =) {
	display: display $i;
	align-items: alignment $i;
	justify-content: justification $i;
}

// Animation
anim(name =, func = ) {
	@media (prefers-reduced-motion: no-preference) {
		{name ? animation : transition}: name var(--trans-dur) func $i;
	}
}

dropfade() {
	anim(dropfade, cubic-bezier(0.2, 0.9, 0.6, 1));
}

// Focus
focus(p = focus) {
	anim();

	&:{p} {
		border-color: var(--hl) $i;
		box-shadow: var(--shadow-ins) var(--hl) $i;
		outline: none $i;
	}
}

header-focus(class = page-focus) {
	.{class} & {
		--bg2: var(--accent);
		--fg: var(--accent-fg);
		--border: var(--accent-border);
	}

	// Stylus is unable to recognise :where()
	:root:not(:-moz-window-inactive) & {
		--bg2: var(--accent);
		--fg: var(--accent-fg);
		--border: var(--accent-border);
	}
}

// Text
replace-text(content =, text-color = fg, pos = after) {
	color: transparent $i;
	letter-spacing: -9999px $i;

	if (content) { // Replace
		&::{pos} {
			content: content $i;
			letter-spacing: 0 $i;
			color: svar(text-color) $i;
		}
	} else { // Hide
		* {
			letter-spacing: 0 $i;
			color: svar(text-color) $i;
		}
	}
}

hide-chars(amount, pos, bg =) {
	margin-{pos}: s('-%sch', amount) $i;
	position: relative $i;

	element = pos == left ? before : after;
	&::{element} {
		content: '' $i;
		position: absolute $i;
		inset: 0;
		box(s('%sch', amount), calc(1em * var(--line-height)));
		bg(bg);
	}
}

// Normalisation
disabled() {
	&:disabled {
		opacity: 0.5 $i;
		cursor: not-allowed $i;
	}
}

normalise-select() {
	appearance: none $i;
	bgc(2);
	lnh();
	background-image:
		linear-gradient(55deg, var(--bg2) 43%, transparent 45%),
		linear-gradient(125deg, transparent 53%, var(--bg2) 55%),
		linear-gradient(180deg, var(--bg2) 30%, var(--fg) 30%) $i;
	background-size: 20px 20px $i;
	background-repeat: no-repeat $i;
	background-position: right 50% $i;
	pad();
	padding-right: calc(var(--pad) + 20px) $i;
	brd();
	focus();
	disabled();
}

normalise-input() {
	bgc(2);
	lnh();
	pad();
	brd();
	focus();
	disabled();

	&::placeholder {
		fg(2);
	}
}

normalise-button() {
	bgc(2);
	lnh();
	background-image: none $i;
	padding: var(--pad) calc(var(--pad) * 2) $i;
	brd();
	cursor: pointer $i;
	focus();
	disabled();
}

normalise-color() {
	bg(2);
	pad(0);
	brd();
	box($select-size);
	focus();
	disabled();

	&::-webkit-color-swatch {
		brd(0);
		// Prevent from making it look like a radio input
		border-radius: calc(var(--border-radius) * 0.33) $i;

		&-wrapper {
			pad(0);
		}
	}
}

normalise-checkbox(label = true) {
	if (label) {
		/label {
			lnh();
			flex();
			gap: 1ch $i;
		}
	}

	appearance: none $i;
	bg(2);
	brd();
	// Prevent from making it look like a radio input
	border-radius: calc(var(--border-radius) * 0.33) $i;
	box-shadow: $select-shadow $i;
	mar(0);
	position: relative $i;
	box($select-size);
	min-width: $select-size $i;
	focus();

	&::before,
	&::after {
		content: '';
		position: absolute $i;
		inset: 0;
		background-color: var(--hl) $i;
		transform-origin: 0 0 $i;
	}
	&:disabled {
		&::before,
		&::after {
			background-color: var(--fg2) $i;
		}
	}

	&::before {
		transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0) $i;
	}
	&:indeterminate::before {
		transform: rotate(0) translateY(37.5%) translateX(10%) scaleX(0.8) scaleY(0.25) $i;
		transition-duration: 33.3ms $i;
	}
	&::after {
		transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(0) $i;
	}

	&:checked {
		&::before {
			transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0.4) $i;
			transition-duration: 33.3ms $i;
		}
		&::after {
			transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(1.2) $i;
			transition-delay: 33.3ms $i;
			anim();
		}
	}
}

normalise-radio() {
	appearance: none $i;
	bg(2);
	brd();
	border-radius: 50% $i;
	box-shadow: $select-shadow $i;
	mar(0);
	position: relative $i;
	box($select-size);
	focus();

	&::before {
		content: '';
		position: absolute $i;
		inset: $select-size / 5;
		background-color: var(--hl) $i;
		border-radius: 50% $i;
		transition: transform var(--trans-dur) linear $i;
		transform: scale(0) $i;
	}
	&:disabled::before {
		background-color: var(--fg2) $i;
	}
	&:checked::before {
		transition-timing-function: cubic-bezier(0, 0, 0.3, 1.5) $i;
		transform: scale(1) $i;
		anim();
	}
}

normalise-header(first = true) {
	fg();
	lnh();
	text-transform: uppercase $i;
	letter-spacing: 1px $i;
	pad(0);
	pad(bottom);
	brd(bottom);
	mar(0);
	mar(bottom);
	if (!first) {
		margin-top: calc(var(--pad) * 2) $i;
	}
}

// Website-specific functions
brd-radius(pos) {
	border-{pos}-left-radius: var(--border-radius) $i;
	border-{pos}-right-radius: var(--border-radius) $i;
}

normal-colors() {
	// Don't get me affected by header-focus()
	--bg2: var(--reserve-bg2) $i;
	--fg: var(--reserve-fg) $i;
	--fg2: var(--reserve-fg2) $i;
	--border: var(--reserve-border) $i;
}

@-moz-document domain("github.com") {
	/**
	 * Variables
	**/
	[data-color-mode] {
		// Background
		--color-bg-canvas: var(--bg) $i;
		--color-bg-primary: var(--bg) $i;
		--color-bg-secondary: var(--bg2) $i;
		--color-bg-tertiary: var(--bg3) $i;
		--color-bg-overlay: var(--bg) $i;
		--color-canvas-default: var(--color-bg-canvas) $i;
		--color-canvas-overlay: var(--color-bg-canvas) $i;
		--color-canvas-inverse: var(--fg) $i;
		--color-canvas-inset: var(--bg) $i;
		--color-canvas-subtle: var(--color-bg-tertiary) $i;

		// Text
		--color-fg-default: var(--fg) $i;
		--color-fg-muted: var(--fg2) $i;
		--color-fg-subtle: var(--fg2) $i;
		--color-primer-fg-disabled: var(--color-fg-muted) $i;

		// Header
		--color-header-bg: var(--bg2) $i;
		--color-header-text: var(--fg) $i;
		--color-header-logo: var(--color-header-text) $i;
		--color-header-search-bg: var(--bg) $i;
		--color-header-search-border: var(--border) $i;

		// Action list (sidebar)
		--color-action-list-item-inline-divider: var(--border) $i;
		--color-action-list-item-default-hover-bg: var(--bg2) $i;
		--color-action-list-item-default-active-bg: var(--bg2) i;
		--color-action-list-item-default-selected-bg: var(--bg2) $i;
		--color-action-list-item-danger-hover-bg: color-a(1) $i;
		--color-action-list-item-danger-active-bg: color-a(9) $i;

		// State
		colors = {
			danger:    9,
			severe:    9,
			closed:    9,
			success:   10,
			open:      10,
			attention: 11,
			done:      12
		}
		for k, v in colors {
			clr = s('var(--color%s)', v);

			--color-{k}-emphasis: clr $i;
			--color-{k}-subtle: color-a(v) $i;
			--color-{k}-muted: s('var(--color%s)', v - 8) $i;
			--color-{k}-fg: clr $i;
		}

		// Syntax highlighting
		colors = {
			constant:                9,
			string:                  10,
			entity:                  11,
			entity-tag:              12,
			keyword:                 12,
			storage-modifier-import: 13,
			support:                 13,
			variable:                14
		}
		for k, v in colors {
			--color-prettylights-syntax-{k}: s('var(--color%s)', v) $i;
		}

		// ANSI colors
		colors = {
			black:   0,
			red:     1,
			green:   2,
			yellow:  3,
			blue:    4,
			magenta: 5,
			cyan:    6,
			white:   7
		}
		for k, v in colors {
			--color-ansi-{k}: s('var(--color%s)', v);
			--color-ansi-{k}-bright: s('var(--color%s)', v + 8);
			--color-checks-ansi-{k}: s('var(--color%s)', v);
			--color-checks-ansi-{k}-bright: s('var(--color%s)', v + 8);
		}
		--color-ansi-gray: var(--color15) $i;
		--color-checks-ansi-gray: var(--color15) $i;

		// Borders
		--color-border-default: var(--border) $i;
		--color-border-muted: var(--border) $i;
		--color-border-subtle: var(--border) $i;

		// Shadows
		--color-shadow-medium: var(--shadow-low) $i;
		--color-shadow-large: var(--shadow-big) $i;
		--color-shadow-extra-large: var(--shadow-big) $i;
		--color-overlay-shadow: var(--color-shadow-extra-large) $i;

		// Buttons
		--color-btn-text: var(--fg) $i;
		--color-btn-bg: var(--bg2) $i;
		--color-btn-border: var(--border);
		--color-btn-hover-bg: var(--bg2) $i;
		--color-btn-hover-border: var(--border) $i;
		--color-btn-active-bg: var(--bg2) $i;
		--color-btn-active-border: var(--border) $i;
		--color-btn-selected-bg: var(--hl) $i;
		--color-btn-focus-bg: var(--hl) $i;

		// Spacing
		for i in range(4, 48, 4) {
			--base-size-{i}: var(--pad);
		}
		for i in range(64, 128, 16) {
			--base-size-{i}: var(--pad);
		}
		for i in condensed normal spacious {
			--stack-gap-{i}: var(--pad);
			--stack-padding-{i}: var(--pad);
			--controlStack-small-gap-{i}: var(--pad);
			--controlStack-medium-gap-{i}: var(--pad);
			--controlStack-large-gap-{i}: var(--pad);
		}
		for i in xsmall small medium large xlarge {
			--controlStack-{i}-gap-auto: var(--pad);
			--control-{i}-gap: var(--pad);
			--control-{i}-paddingBlock: var(--pad);
			--control-{i}-paddingInline-normal: var(--pad);
			--control-{i}-paddingInline-spacious: var(--pad);
			--control-{i}-paddingInline-condensed: var(--pad);
		}

		// Text
		for i in body title {
			--text-{i}-lineHeight-small: var(--line-height);
			--text-{i}-lineHeight-medium: var(--line-height);
			--text-{i}-lineHeight-large: var(--line-height);
		}
		for i in codeBlock caption subtitle display {
			--text-{i}-lineHeight: var(--line-height);
		}

		--fontStack-monospace: var(--font-code);
		--fontStack-sansSerif: var(--font-normal);
		--fontStack-system: var(--font-normal);

		// Other variables
		--borderWidth-thin: var(--border-width);
		--borderWidth-thick: calc(var(--border-width) * 2);
		--borderWidth-thicker: calc(var(--border-width) * 4);
		for i in small medium large full {
			--borderRadius-{i}: var(--border-radius);
		}

		// Unsorted
		--color-intro-shelf-gradient-in: var(--bg2) $i;
		--color-social-count-bg: var(--bg2) $i;
		--color-page-header-bg: var(--bg2) $i;
		--color-timeline-text: var(--color-fg-muted) $i;
		--color-timeline-badge-bg: var(--bg4) $i;
		--color-primer-canvas-backdrop: transparent $i;
		--color-primer-border-active: var(--hl) $i;
		--color-primer-shadow-inset: none $i;

		--color-accent-emphasis: var(--hl) $i;
		--color-fg-on-emphasis: var(--hl-fg) $i;

		// save
		--save-pad: var(--pad);
	}

	// Settings
	body {
		--reserve-bg2: var(--bg2);
		--reserve-fg: var(--fg);
		--reserve-border: var(--border);

		// Settings
		settings = \
			'sidebar-width'

		for i in settings {
			\-\-{i}: convert(i);
		}
	}

	/**
	 * Global
	**/
	a {
		color: var(--fg-link);
	}
	p {
		mar(bottom);
	}

	// Primer
	body,
	pre,
	.markdown-body,
	.social-count,
	.form-control,
	.form-select,
	.radio-label,
	.subnav-item,
	.pagination a,
	.pagination em,
	.pagination span,
	.state,
	.State,
	.label,
	.Label,
	.blob-num,
	.blob-code,
	.Box--condensed {
		lnh();
	}
	.lh {
		&-condensed-ultra,
		&-condensed,
		&-default {
			lnh();
		}
	}
	.gap {
		&-1,
		&-2,
		&-3,
		&-4 {
			gap: var(--pad) $i;
		}
	}
	.dropdown-item.pl-5 {
		padding-left: 24px $i;
	}
	.form-select,
	.form-control,
	.markdown-title pre,
	.markdown-title code,
	.markdown-body pre,
	.markdown-body code {
		border-radius: var(--border-radius) $i;
	}
	.Counter {
		background-color: transparent $i;
		fg(2);
		lnh();
		pad(0);
		brd(0);
		mar(left, 0);

		.UnderlineNav & {
			margin-left: 1ch $i;
		}
		.pagehead-actions & {
			display: none;
		}

		&::before {
			content: '(';
		}
		&::after {
			content: ')';
		}
	}
	.ActionList {
		&Item {
			&--navActive:not(&--danger) {
				&::after {
					display: none;
				}

				&,
				span {
					hl();
				}
			}
		}
		&-sectionDivider:empty {
			mar(0);
		}
	}
	.filter-item {
		pad();
		brd(0);

		&:not(.selected):hover {
			background-color: transparent;
			fg();
		}

		&.mb-2 {
			mar(0);
		}
	}
	.subnav-item {
		&:first-child {
			border-top-left-radius: var(--border-radius) $i;
			border-bottom-left-radius: var(--border-radius) $i;
		}
		&:last-child {
			border-top-right-radius: var(--border-radius) $i;
			border-bottom-right-radius: var(--border-radius) $i;
		}
	}
	.form {
		&-select {
			normalise-select();
			height: unset;
		}
		&-control {
			/.QueryBuilder-StyledInput,
			textarea&,
			main input& {
				normalise-input();
			}
		}
		&-checkbox {
			padding-left: s('calc(%s + 1ch)', $select-size) $i;

			input {
				&[type="checkbox"],
				&[type="radio"] {
					margin-left: s('calc(%s - 1ch)', $select-size * -1) $i;
				}
			}
		}
	}
	.FormControl {
		for i in checkbox radio {
			{s('input[type="%s"]&-%s', i, i)} {
				normalise-{i}();
			}
		}
		&-checkbox,
		&-radio {
			&-wrap {
				gap: 1ch;
			}
		}
		input[type="checkbox"]&-checkbox::before {
			-webkit-mask-image: none;
			clip-path: unset;
			box(unset);
			animation: unset $i;
		}
	}
	for i in checkbox radio {
		{s('input[type="%s"]', i)} {
			normalise-{i}(false);

			&.mr-2 {
				margin-right: 1ch $i;
			}
		}
	}
	.btn,
	.Button {
		normalise-button();
		shd(0);
		box(unset);

		.Box-header &,
		.file-header &,
		#repository-container-header & {
			--bg2: var(--bg);
		}
		.flash & {
			--pad: calc(var(--save-pad) / 2);
		}

		colors = {
			danger:  9,
			primary: 10
		}
		for k, v in colors {
			&-{k},
			&--{k} {
				background-color: color-a(v) $i;
				border-color: s('var(--color%s)', v) $i;
			}
		}
	}
	.BtnGroup {
		&-item:last-child,
		&-parent:last-child > &-item {
			margin-left: calc(var(--border-width) * -1);
		}
		& + &,
		& + .btn {
			mar(left);
		}
	}
	.btn {
		.details-overlay:not(.BtnGroup-parent):not(.details-overlay-dark) \
			> &:not([aria-label="Table of Contents"])
		{
			normalise-select();

			&::after {
				display: none;
			}

			.dropdown-caret,
			& > .octicon-triangle-down {
				display: none $i;
			}
		}

		&-octicon {
			@extend .btn;
			mar(left);
			vertical-align: super;

			&,
			~/-sm,
			/.Button--small,
			/.Button--iconOnly {
				--pad: calc(var(--save-pad) / 2);
			}

			& > .octicon {
				vertical-align: sub $i;
			}
		}
		// TEMP
		&.social-reaction-summary-item {
			line-height: 26px $i;
		}
		&.hidden-text-expander a,
		&.ellipsis-expander {
			line-height: 6px $i;
			height: unset;
		}
		&.js-wiki-sidebar-toc-toggle-chevron-button {
			--pad: calc(var(--save-pad) / 2);
			brd(0);
			mar(top);
			mar(left, 0);
		}
		&,
		&-octicon {
			& > .octicon:only-child {
				fg();
			}
		}
	}

	// GitHub
	.timeline-comment,
	.file {
		brd();

		&-header {
			brd(bottom);
			brd-radius(top);
		}
	}
	.timeline-comment {
		&.current-user,
		&.current-user &-header {
			border-color: var(--color-accent-muted) $i;
		}
		&-header {
			pad();

			.Button {
				background-color: transparent $i;
				fg(2);
				pad(0);
				brd(0);

				&:hover {
					fg();
				}
			}
		}

		.Label {
			bgc();
		}
	}
	.comment-body,
	.post-merge-message {
		pad();
	}
	.pr-review-reactions {
		.just-bottom,
		.has-reactions,
		.has-reactions.comment-reactions {
			mar();
			align-items: center;
		}
	}
	.toolbar-commenting {
		mar(0);

		.btn-octicon {
			bg();
			mar(right, 0);
		}
	}
	.timeline-new-comment .form-actions {
		bg(2);
		mar(0);
		pad();
		brd(top);

		.btn:not(.btn-primary) {
			bg();
		}
	}
	.full-commit {
		brd();

		.commit-meta {
			brd-radius(bottom);
		}
	}
	.range-editor {
		bg(2);
		brd();
	}
	.previewable-comment-form .comment-form-head.tabnav {
		brd-radius(top);
	}
	.upload-enabled.focused {
		shd(0);
	}
	.drag-and-drop {
		brd();
		brd(top, 0);
		brd-radius(bottom);
	}
	.branch-action {
		&-body {
			border-radius: var(--border-radius);
		}
		&-item {
			lnh();
			pad();
			padding-left: calc(var(--pad) * 2 + 30px) $i;
		}
	}

	/**
	 * Hide elements
	**/
	// I. Unsorted
	.topics-row-container, .BorderGrid-row:first-child div.my-3, article.color-bg-subtle > .color-bg-default > .d-flex, // Topic tags
	[style="--sticky-pane-height:100vh;"] > div > div > main > div > div > :last-child, // New search right sidebar
	article.border.rounded.color-shadow-small.my-4 > h2.f6.color-fg-muted.px-3.mt-3, // "Based on repositories you’ve starred"
	.BorderGrid-cell > .mt-3:last-child, [href$="/network/dependents"] > .px-2, // + N contributors/etc.
	.new-discussion-timeline .Layout-sidebar > div > .my-3, // Most helpful users
	.footer, .AppHeader .Overlay-footer > :last-child,
	.Layout-main > .thread-subscription-status,
	#notification-subscribe-button-reason,
	.Details .Link--secondary.text-mono, // Commit hash
	.QueryBuilder-leadingVisualWrap, // icon
	.js-calendar-graph > .f6, // "Learn how we count contributions"
	[title="Label: Latest"], // "Latest" release label
	.locked-conversation, // Issue comment in a locked conversation
	//.Skeleton,
	get-repo, // Repository clone button

	// II. Recommendations / GitHub stuff
	aside[aria-label="Star Topics"],
	[href="https://desktop.github.com"],
	[aria-label="Explore"] .js-notice, // Top notice
	[href="/account/choose?action=upgrade"],
	[href^="/organizations/enterprise_plan"],
	.col-md-8.col-lg-6.py-4 > article.color-bg-default, // "App recommended by GitHub" / "Staff pick"
	[aria-label="Explore navigation"] > div > .text-right, // "Get e-mail updates"
	[data-action="click:qbsearch-input#showFeedbackDialog"]
	{
		display: none $i;
	}

	// III. Not signed in
	.logged-out {
		[aria-label="You must be signed in to change notification settings"],
		.user-profile-sticky-bar + div > .clearfix + div .flex-1, // Follow
		details-dialog[aria-label="Sign up for GitHub"],
		.btn[data-ga-click*="create new issue"],
		[href^="/signup?"], [href^="/join?"],
		.discussion-timeline-actions > div,
		#sponsor-profile-button,
		#issue-comment-box,
		.login-callout,
		signup-prompt
		{
			display: none $i;
		}
	}

	/**
	 * Header
	**/
	.AppHeader {
		shd(0);

		.Button,
		&-button {
			fg(2);
			pad(0);
			brd(0);
			shd(0);
			box(unset);
			transition: none $i;

			&:hover {
				background-color: transparent $i;
				fg();
			}
		}

		&-globalBar {
			bgc(2);
			brd(bottom);
			header-focus();
			pad();
			position: fixed;
			top: 0;
			width: 100%;

			&-start,
			&-end {
				flex();

				&,
				~/-actions {
					gap: 1ch $i;
				}
			}
			&-start deferred-side-panel {
				display: none;
			}
		}
		&-logo {
			fg(2);
			mar(0);
			box(var(--font-size));

			& > .octicon {
				fg();
				box(var(--font-size));
				vertical-align: unset $i;
			}
			&:not(:hover) > .octicon {
				normal-colors();
				fg(2);
			}
		}
		&-context {
			height: unset $i;

			&-item {
				normal-colors();
				background-color: transparent $i;
				pad(0);
				min-width: unset $i;

				&:hover &-label {
					text-decoration: underline $i;
				}
			}
			&-compact-trigger {
				@extend .AppHeader-context-item;
				mar(0);
				height: unset $i;
			}
		}
		// Make the search icon-only, it pops out anyway.
		&-search {
			&-whenRegular {
				display: none $i;
			}
			&-whenNarrow {
				display: grid $i;
			}
		}
		&-actions {
			&::before {
				display: none $i;
			}

			// God knows why this makes it centered.
			action-menu,
			focus-group {
				display: contents;
			}

			.Button {
				&-visual {
					mar(0);
				}
				&-label {
					display: none;
				}
			}
		}
		&-user {
			// God knows why this makes it centered.
			&,
			.Button-label,
			include-fragment,
			deferred-side-panel,
			user-drawer-side-panel {
				display: contents;
			}

			.avatar {
				border-radius: 50% $i;
				box(var(--font-size));
			}
		}
		&-localBar {
			bg(2);
			pad(0);
			brd(bottom);
			margin-top: var(--header-h);

			& > .UnderlineNav {
				brd(0);
			}
		}

		// Make mobile overlays look like normal popouts
		.Overlay {
			normal-colors();
			brd();
			height: unset !important;
			dropfade();

			&-backdrop {
				&--side {
					background-color: transparent;
				}
				for i in left right {
					&--placement-{i} {
						{i}: var(--base-size-16);
					}
				}
			}
		}
	}
	.search-input {
		width: unset;
	}
	.application-main {
		margin-top: var(--header-h);
	}
	#repository-container-header {
		bg(2);
		margin-top: calc(var(--header-h) * -1);

		& > div {
			max-width: unset;
		}
		.flex-auto.width-fit {
			display: none;
		}
		.border-bottom {
			mar(0);
		}
	}
	.pagehead-actions {
		pad(0);

		& > li {
			mar(right);
		}
		.BtnGroup {
			mar(0);
		}
	}

	/**
	 * Content
	**/
	// Content container
	#repo-content {
		&-pjax-container,
		&-turbo-frame {
			/.application-main > main > .container,
			& > .container {
				&-sm,
				&-md,
				&-lg,
				&-xl {
					pad(0);
					margin: var(--body-pad) $i;
					max-width: unset $i;
					width: calc(100% - var(--body-pad) * 3);
				}
			}
		}
	}

	// Tabs
	.UnderlineNav {
		pad(0);
		brd(bottom);
		shd(0);
		min-height: unset;

		&-body {
			pad(0);
			gap: 0;
		}
		&-item {
			background-color: transparent $i;
			lnh();
			pad();
			brd(0);

			&:not(:hover) {
				fg(2);
			}

			&.selected,
			&[aria-selected="true"],
			&[aria-current]:not([aria-current="false"]) {
				hl();

				&::after {
					display: none;
				}
			}

			.Counter {
				color: unset $i;
			}
		}
	}
	.tabnav-tab {
		lnh();
	}

	// Lefthand side repository sidebar
	.Layout {
		--Layout-sidebar-width: var(--sidebar-width) $i;
		--Layout-gutter: var(--body-pad) $i;

		if (sidebar-pos == left) {
			grid-template-columns: auto calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)) $i;

			&-main {
				grid-column: 2/span 2 $i;
			}
			&-sidebar {
				grid-column: 1 $i;
			}
		} else {
			grid-template-columns: calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter)) auto $i;

			&-main {
				grid-column: 1 $i;
			}
			&-sidebar {
				grid-column: 2/span 2 $i;
			}
		}
	}

	// Sticky sidebar & headers
	/*
	 * Also includes the js sticky headers to be inside the header,
	 * if stuck (.is-stuck)
	 */
	main .Box-header,
	.file-header,
	#repo-content-turbo-frame[src$="/releases"] .col-md-2,
	.js-position-sticky,
	.Layout-sidebar > * {
		position: sticky $i;
	}
	#repo-content-turbo-frame[src$="/releases"] .col-md-2,
	.Layout-sidebar > * {
		top: calc(var(--header-h) + var(--body-pad));
		z-index: 999 $i;
	}
	main .Box-header,
	.file-header,
	.js-position-sticky {
		top: var(--header-h);
		z-index: 998 $i;

		// Can't see it, anyway
		[data-target="diff-layout.mainContainer"] & {
			position: unset $i;
		}
	}
	.js-position-sticky {
		height: var(--header-h);

		&.is-stuck {
			background: none transparent $i;
			border-color: transparent $i;
			z-index: 999 $i;

			[data-target="readme-toc.content"] > & {
				margin-left: calc(var(--sidebar-width) + var(--pad) * 2 - 2px);

				/file-tree-toggle[class],
				/.pr-toolbar .f5,
				& > .text-mono {
					display: none $i;
				}
			}

			/:is(.page-focus, :not(:-moz-window-inactive)) & .Link--primary {
				color: var(--accent-fg) $i;
			}
		}

		.btn {
			--bg2: var(--bg);

			/:is(.page-focus, :not(:-moz-window-inactive)) &-octicon-danger > .octicon {
				color: var(--accent-fg) $i;
			}
		}
	}
	.js-sticky {
		border-radius: 0 $i;
		width: unset $i;

		#readme > & {
			--color-canvas-default: var(--color-bg-secondary);
			justify-content: flex-start $i;

			[aria-label="Edit this file"] {
				margin-left: calc(var(--pad) * 2);
			}
			[aria-label="Table of Contents"] {
				margin-left: calc(var(--pad) * -1) $i;
			}
		}
	}
	.Layout-sidebar {
		& > * {
			z-index: 998 $i;
		}
		.is-stuck ~ .Layout > &[data-original-top] > * {
			top: 60px;
		}
	}
	#repo-content-turbo-frame[src$="/releases"] .col-md-2 {
		height: fit-content;
	}
	.AppHeader-globalBar,
	.Overlay,
	.Popover,
	.SelectMenu {
		z-index: 999 $i;
	}
	.pr-toolbar {
		margin-top: var(--border-width);

		&.is-stuck {
			pad(0);
			brd(bottom);

			& > .diffbar {
				bg(-tr2);
				padding: 0 16px;
			}
		}
	}
	.gh-header {
		&-sticky,
		&-shadow {
			display: none $i;
		}
	}
	.notification-shelf {
		--pad: calc(var(--save-pad) / 2);
		pad();
		overflow: hidden;

		&.is-stuck {
			margin-left: calc(var(--font-size) * 1.5 + var(--sidebar-width) + var(--body-pad));
			width: calc(100% - var(--font-size) * 1.5 - var(--sidebar-width) - var(--body-pad) - 48px - 8px * 2 - var(--pad) * 15) $i;

			& > .d-flex {
				justify-content: flex-start $i;
			}
		}

		.btn {
			margin-top: calc(var(--border-width) * -1) $i;

			&-octicon {
				display: none;
			}
		}
	}
	.js-notifications-back-to-inbox {
		replace-text('Back');
	}

	// Sidebar
	#-sidebar-separator {
		margin-left: calc(var(--body-pad) * 1.5);
	}
	.BorderGrid {
		mar(0);
		display: flex;
		flex-direction: column;
		gap: calc(var(--pad) * 2);

		&-cell {
			pad(0);
			brd(0);
			display: block;

			& > h2 {
				normalise-header();

				& > a {
					flex(,,space-between);
				}
			}
			.pt-1 { // Settings
				pad(0);
			}
			.Counter {
				&::before,
				&::after {
					display: none;
				}
			}
		}

		// Contributors' avatars
		&-cell > .list-style-none > .mb-2.mr-2 {
			--base-size-8: calc(var(--pad) / 2);
		}

		// Releases
		[href*="/releases/tag/"] {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				box(2ch, 100%);
				background-image: linear-gradient(90deg, transparent, var(--bg));
			}

			& > .ml-2 {
				white-space: nowrap;
				overflow: hidden;
				display: flex $i;

				& > .color-fg-muted::before {
					content: ' - ';
				}
			}
		}
		.list-style-none .text-small > :last-child {
			fg(2);

			&::before {
				content: '(';
			}
			&::after {
				content: ')';
			}
		}
	}
	#partial-discussion-sidebar {
		display: flex;
		flex-direction: column;
		gap: calc(var(--pad) * 2);
	}
	.discussion-sidebar {
		&-item {
			pad(0);
			brd(0);
			mar(0);
		}
		&-heading {
			normalise-header();

			& > .flex-justify-between > span:not(:hover) {
				fg(2);
			}
		}
	}
	#wiki-pages-box .Box-row {
		pad(0);
	}

	// ok
	/*#repo-content {
		&-pjax-container, &-turbo-frame {
			/.application-main > main > .container,
			& > .container {
				&-sm, &-md, &-lg, &-xl {
					mar(0);
					width: calc(100% - var(--body-pad) * 2) $i;
				}
			}
		}
	}
	.header-search {
		max-width: calc(var(--sidebar-width) - var(--font-size) * 1.5 - var(--body-pad)) $i;
	}
	.Layout {
		--Layout-gutter: 0px $i;

		&-sidebar {
			bg(2);
			pad();
			brd(sidebar-pos == left ? right : left);

			.page-profile & {
				margin-top: -48px;
			}

			& > * {
				top: calc(var(--header-h) + var(--pad));
			}
			.btn,
			.form-control,
			::-webkit-scrollbar {
				--bg2: var(--bg) $i;
			}
		}
		&-main {
			margin: var(--body-pad) $i;
		}
	}*/

	// Content headers
	.gh-header,
	.Subhead {
		&-actions {
			text-transform: initial;
			letter-spacing: initial;
			mar(0);
		}
	}
	.gh-header {
		&-show > .d-flex {
			normalise-header();
			align-items: end;

			// Discussion subheading
			.d-flex.flex-wrap.flex-items-center.mb-3 {
				display: none $i;
			}
		}
		&-title {
			lnh();
			mar(0);
		}
	}
	#toc,
	#partial-visible-comments-header,
	#sidebar-events-header,
	#discussions-list,
	.Subhead {
		normalise-header(false);
		align-items: end $i;
		gap: 1ch $i;
	}
	#discussion {
		&-comment-count {
			mar(0);
		}
		&s-list {
			mar(top, 0);
		}
	}
	#sidebar-events-header,
	#repo-content-pjax-container > div > .Subhead {
		mar(top, 0);
	}
	.markdown-body {
		/.page-profile .f4.text-normal,
		h1,
		h2 {
			normalise-header(false);
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			lnh();
		}
		pre {
			bg(2);
			pad();
			brd();
		}
	}

	// Dashboard
	.feed {
		&-left-sidebar,
		&-right-sidebar {
			--scrollbar-track: var(--bg);
			bg(2);
			mar(0);

			h2 {
				normalise-header(false);
			}
			.Button {
				display: none $i;
			}
			.form-control {
				--bg2: var(--bg);
				normalise-input();
			}
		}
		&-left-sidebar {
			width: var(--sidebar-width) $i;

			.loading-context {
				margin-top: calc(var(--pad) * -2) $i;
			}
		}
		&-right-sidebar {
			pad();
			brd(left);
			margin-top: calc(var(--pad) * -2) $i;

			& > div {
				background-color: unset $i;
				pad(0);
				brd(0);
			}
		}
		&-content {
			pad(0);
			brd(0);
			mar(0);
			gap: 0 $i;
			max-width: unset $i;
		}
		&-main {
			margin: var(--body-pad) $i;
			max-width: unset $i;
		}
		&-item-content {
			bg(2);
			pad(0);
			shd(0);

			.btn {
				--bg2: var(--bg);
			}
		}
	}
	.dashboard-sidebar {
		top: var(--header-h) $i;

		&::-webkit-scrollbar {
			&-button,
			&-track {
				--bg2: var(--bg);
			}
		}
	}
	feed-container > :first-child {
		normalise-header();
		align-items: end $i;

		& > div {
			letter-spacing: initial $i;
			text-transform: initial $i;
		}
	}

	// Discussions
	.discussion {
		&s-header-wrap {
			gap: var(--pad);
		}
	}
	.new-discussion-timeline .Layout {
		&-sidebar {
			// Header
			h2 + div > .mb-2 {
				normalise-header();
			}
		}
		&-main {
			mar(top, 0);
		}
	}

	// Popup & boxes
	.Box {
		&-btn-octicon {
			lnh();
		}
		&-header {
			bg(2);

			/.graph-before-activity-overview,
			& {
				brd-radius(top);
			}
		}
		&-body:not(&) {
			bg();
		}
		&-footer {
			bg(2);

			.btn:not(.btn-primary) {
				bg();
			}
		}
		&-row--focus-gray.navigation-focus {
			background-color: transparent $i;
		}
		&--overlay {
			brd(,accent-border);

			~/[role="dialog"],
			& {
				shd(big);
				fade(drop);
			}

			& ^[0] {
				&-header {
					accent();
					brd(0);
					brd(bottom, accent-border);
				}
				&-title {
					accent();
					text-align: center;
				}
				&-btn-octicon {
					lnh();

					& > .octicon {
						color: var(--accent-fg) $i;
					}
				}
			}
		}
		&--responsive {
			brd();
		}
	}
	.dropdown {
		&-menu {
			pad(0);
			z-index: 1000;
		}
		&-divider {
			mar(0);
		}
	}
	.SelectMenu {
		/.Overlay,
		&-modal {
			brd();
			fade(drop);
		}
		&-header,
		&-item {
			pad();
			brd(bottom);
		}
		&-footer {
			pad();
			brd(top);
		}
		&-closeButton {
			pad(0);
			mar(0);
		}
		&-list {
			pad(0);
		}
	}
	#search-suggestions-dialog {
		brd(0);
	}
	.search-suggestions {
		// Don't get me affected by header-focus()
		--bg2: var(--reserve-bg2) $i;
		--fg: var(--reserve-fg) $i;
		--border: var(--reserve-border) $i;
		brd(); // inline border-radius
		left: 0;
		top: 0;

		.ActionList {
			../ .QueryBuilder-ListWrap,
			&Item {
				pad(0);
				mar(0);
			}

			&Wrap {
				brd(top);
			}
			&Item-description {
				display: none;
			}
			&-sectionDivider {
				&:empty {
					display: none;
				}

				&-title {
					normalise-header(false);
					mar(left);
					mar(right);
				}
			}
		}
	}

	/**
	 * Options
	**/
	// Remove icons where unnecessary
	if (remove-icons) {
		// I. Header and tabs
		#repository-container-header,
		.pagehead .mb-3 .btn, // gist
		.UnderlineNav,

		// II. Issues and PRs
		.states a,
		.subnav-links a,
		.issues-reset-query-wrapper,

		// III. Profile and organisation
		.user-profile-bio + div a,
		.activity-overview-box .d-flex,
		.pinned-item-list-item-content .Link--muted,
		.pinned-item-list-item-content,

		// IV. Other
		[aria-label="This recommendation was generated by GitHub computers"],
		[aria-label="These results are generated by GitHub computers"], // trending repos/devs today
		.file-navigation,
		.file-navigation + div .Box-header, // just 1 commit icon
		.BorderGrid-cell,
		.Link--primary,
		.flash,
		.State {
			.octicon {
				display: none;
			}
		}
		.header-search-button.placeholder > :is(.mr-2, .d-flex),
		.UnderlineNav-octicon, .tabnav-tab > .octicon, // tabs
		:is(.btn, .btn-link):not(.btn-octicon, [aria-haspopup], [role]) > \
			.octicon:not(:only-child),
		.btn > [style="width:16px"],
		.form-control ~ .octicon,
		.ActionListItem-visual, // sidebar
		.ActionList-item-visual, // ^
		.file-info > .mr-1, // gist
		.jump-to-octicon,
		.blankslate-icon
		{
			display: none $i;
		}
		.file-navigation + div,
		.pinned-item-desc {
			g-emoji {
				display: none;
			}
		}

		// V. Fixes
		.octicon {
			&-kebab-horizontal,
			&-triangle-down,
			&-chevron-down,
			.Layout &-gear,
			&-dot-fill,
			&-grabber,
			&-plus,
			&-dash,
			&-x {
				display: inline-block $i;
			}
		}
		.BorderGrid-cell > [href*="/releases/"] > div {
			mar(left, 0);
		}
		[aria-label="These results are generated by GitHub computers"] {
			mar(right, 0);
		}
		.auto-search-input {
			padding-left: 12px $i;
		}
	} else {
		.form-control.pl-5 {
			padding-left: 32px $i;
		}
	}

	// Old user status
	if (old-user-status) {
		.user-status {
			&-circle-badge {
				background-color: var(--color-scale-yellow-1);
				border-color: var(--color-scale-yellow-3) $i;
				width: 100% $i;

				&,
				&-container:hover & {
					box-shadow: none $i;
				}

				&-container {
					position: unset $i;
					box(auto);
					margin: var(--base-size-16, 16px) 0 0 $i;

					& > div {
						width: 100%;
					}
					.color-fg-muted {
						color: var(--fg) $i;
					}
				}
			}
			&-message-wrapper {
				width: 100% $i;
				opacity: 1 $i;

				&.no-wrap {
					//white-space: normal $i;
				}
			}

			// One class twice to override !important
			&-circle-badge-container&-circle-badge-container &-emoji-container {
				margin-right: var(--base-size-8) $i;
			}
		}
	}

	/**
	 * React garbage
	**/
	// Global
	[class^="Text-"] {
		fg();
	}
	[data-component="text"] {
		lnh();

		.octicon {
			fg();
			vertical-align: middle $i;
		}
	}

	// Input
	.TextInput {
		&-wrapper {
			normalise-input();
			shd(0);
			max-width: 25vw $i;
			min-height: unset $i;
			focus(focus-within);

			& > input {
				pad(0);
				mar(right);
			}
		}
		&-icon {
			&:first-child {
				display: none;
			}
			&:last-child {
				fg(2);

				& > div {
					mar(0);
				}
			}
		}
	}

	// Buttons
	[data-testid="raw-button"],
	[class^="types__StyledButton-"]
	[data-component="IconButton"] {
		--pad: calc(var(--save-pad) / 2);
		normalise-button();
		shd(0);
		box(unset, var(--header-h));

		#repos-sticky-header & {
			--bg2: var(--bg);
		}
	}
	[data-component="leadingVisual"] { // octicon
		fg();
		margin-right: 1ch $i;
	}

	// Tabs
	[class*="SegmentedControlList-"] {
		margin-left: calc(var(--pad) * -1) $i;

		& > li {
			margin: calc(var(--pad) * -1) 0 $i;

			&:last-child {
				brd(right);
			}
		}
		button {
			--pad: calc(var(--save-pad) / 2);
			normalise-button();
			brd(0);
			transition: none $i;

			&:not(:hover) {
				fg(2);
			}
			&[aria-current="true"] {
				hl();
			}

			& > span {
				all: unset $i;
			}
		}
	}

	.react {
		// Code view
		&-blob {
			// Header
			&-sticky-header {
				& + div {
					bg(2);
					pad();
					brd();

					& > div {
						gap: var(--pad);
						mar(0);
					}
				}
			}

			// <textarea>
			&-print-hide {
				font-family: var(--font-code) $i;
				line-height: 21px $i;
				margin-top: -1px $i;

				&::selection {
					bg(2);
					color: transparent $i;
				}
			}
		}
		&-code {
			// Latest commit
			&-view-bottom-padding {
				& + div > div:first-of-type {
					bg(2);
					brd();
					mar(bottom);

					& > div {
						gap: var(--pad);
						pad();

						& > div {
							gap: var(--pad);
						}
					}
					a:not(.issue-link) {
						fg();
					}
					[data-testid="avatar-icon-link"] + span > a {
						fg(-link);
					}
					img {
						mar(right);
						box(var(--font-size));
					}
				}
			}

			// File contents
			&-text {
				span {
					font-family: var(--font-code) $i;
				}
			}
		}
		&-last-commit-history-group {
			--bg2: var(--bg);
		}
		&-line-number {
			font-family: var(--font-code) $i;

			&s {
				bg(2);
				lnh();
				brd(right);
			}

			& > span { // arrow
				mar(0);
				left: -2ch;
				top: -4px;
			}
		}
	}
	react-app main > :not(:empty) {
		margin: var(--body-pad);
		max-width: calc(100% - var(--body-pad) * 2);
	}
	[data-selector="repos-split-pane-content"] {
		pad(0);

		& > div {
			mar(0);
		}
	}
	#repos {
		&-sticky-header {
			top: calc(var(--header-h) - var(--border-width));

			& > div {
				position: unset;
			}

			// Latest commit sticky header
			& > :first-child > :first-child {
				display: none;
			}

			// Code
			& + div {
				brd();
				border-top: none $i;
			}
		}
		&-file-tree {
			bg(2);
		}
	}
	#StickyHeader {
		pad(0);
		mar(bottom);

		& > div {
			&,
			& > div {
				gap: var(--pad);
			}
		}
	}
	.d-flex.gap-2 {
		gap: var(--pad) $i;

		& > div {
			mar(0);
		}
	}
	[aria-labelledby^="file-name-id"] {
		mar(0);

		& > div {
			pad(0);
		}
	}
	#highlighted-line-menu-container > button {
		left: calc((16px + var(--pad) / 2) * -1);
	}

	.cm {
		&-header,
		&-def,
		&-negative,
		&-qualifier,
		&-error,
		&-attribute,
		&-link {
			clr(9);
		}
		&-quote,
		&-positive,
		&-number,
		&-variable-3,
		&-builtin,
		&-atom {
			clr(10);
		}
		&-operator {
			clr(11);
		}
		&-keyword,
		&-tag {
			clr(12);
		}
		&-string,
		&-string-2,
		&-property {
			clr(13);
		}
		&-variable,
		&-variable-2 {
			clr(14);
		}
		&-comment,
		&-bracket,
		&-punctuation,
		&-meta {
			fg(2);
		}
		&-matchhighlight {
			hl();
		}
	}
	.CodeMirror {
		bgc();
		pad(0);

		&-gutters {
			bg(2);
			brd(right);
		}
		&-line {
			padding: 0 var(--body-pad) $i;

			&s {
				padding: var(--body-pad) 0;
			}
			&number {
				fg(2);
				font-family: var(--font-code) $i;

				&:hover {
					fg();
				}
			}
		}
		&-activeline-background,
		&-selected {
			bg(2);
		}
		&-cursor {
			border-left-color: var(--fg);
		}
		&-matchingbracket,
		&-nonmatchingbracket {
			color: var(--hl-fg) $i;
		}
		&-matchingbracket {
			background-color: var(--hl);
		}
	}

	/**
	 * Theme fixes
	**/
	.text-small,
	.h1, .h2, .h3, .h4, .h5, .h6,
	.f1, .f2, .f3, .f4, .f5, .f6,
	.f00-light, .f0-light, .f1-light, .f2-light, .f3-light {
		font: var(--font-size) $i;
	}
	.text {
		&-light,
		&-normal,
		&-bold,
		&-semibold {
			font-weight: normal $i;
		}
	}
	.text-mono,
	.commit .sha,
	.blob-code-inner {
		font-family: var(--font-code) $i;
	}
	.gist-banner {
		--color-canvas-default: var(--bg2);
	}
	.user-mention,
	.team-mention {
		color: var(--fg-link);
	}
	[data-target="diff-layout.mainContainer"],
	#discussion_bucket .Layout-main {
		margin-left: 48px $i;
	}

	/**
	 * Unsorted
	**/
	#blob-path {
		margin-left: 1ch $i;
	}
	#user-profile-frame > * > .mt-4:first-child .f4 {
		mar(top);
	}
	.tab-size {
		tab-size: 2 $i;
	}
	.Box-header .ml-n1 {
		mar(0);
	}
	.js-navigation-item {
		--pad: calc(var(--save-pad) / 2);
		pad();
	}
	.js-yearly-contributions .dropdown {
		mar(top, 0);
	}
	.js-profile-editable-replace > .clearfix {
		overflow: hidden;
	}
}

