/* ==UserStyle==
@name           Reddit
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus

@var text     sidebar-width "Sidebar width" 228px
@var select   sidebar-pos   "Sidebar position" {
	'Left':  'left',
	'Right': 'right'
}
==/UserStyle== */

@keyframes dropfade {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

$small-screen = 768px
$select-size = 16px
$i = !important

// Stylus
svar(var) {
	s('var(--%s)', var);
}

cond(n, yes, no) {
	(n == 0 ? no : yes) $i;
}

sel-cond(sel, pos) {
	pos ? s('%s-%s', sel, pos) : sel
}

color-a(n, bright = true) {
	s = bright ? -2 : null;
	n = n > 6 ? n - 8 : n;

	s('hsla(var(--color%s-h),	var(--colorscheme-s%s),	var(--colorscheme-l%s), var(--bg-opacity))', n, s, s);
}

// Appearance
bg(n =) {
	background-color: s('var(--bg%s)', n) $i;

	if (n == -tr || n == -tr2 || n == -tr3) {
		backdrop-filter: var(--popup-filter) $i;
	}
}

fg(n =) {
	color: s('var(--fg%s)', n) $i;
}

bgc(n1 =, n2 =) {
	bg(n1);
	fg(n2);
}

hl(n = ) {
	background-color: n ? s('var(--hl-%s)', n) : var(--hl) $i;
	color: var(--hl-fg) $i;
}

accent() {
	background-color: var(--accent) $i;
	color: var(--accent-fg) $i;
}

clr(n) {
	color: s('var(--color%s)', n) $i;
}

lnh() {
	line-height: var(--line-height) $i;
}

pad(pos =, n = 1) {
	{sel-cond(padding, pos)}: \
		(n == 0 ? 0 : pos == 0 ? 0 : var(--pad)) $i;
}

mar(pos =, n = 1) {
	{sel-cond(margin, pos)}: \
		(n == 0 ? 0 : pos == 0 ? 0 : var(--pad)) $i;
}

shd(n) {
	box-shadow: cond(n, s('var(--shadow-%s)', n), none);
}

rad(n = 1) {
	border-radius: cond(n, var(--border-radius), 0);
}

brd(pos =, color = border) {
	//color = (typeof(color) == 'ident' || typeof(color) == 'string') ? svar(color) : color;
	if (color) {
		color = svar(color);
	}

	{sel-cond(border, pos)}: \
		(color == 0 ? none : pos == 0 ? none : var(--border-width) solid color) $i;
	if (!pos) {
		rad(pos);
	}
}

// Position
box(w, h = w) {
	width: w $i;
	height: h $i;
}

pos(offset = 0) {
	left: offset $i;
	top: offset $i;
	right: offset $i;
	bottom: offset $i;
}

center(justification =) {
	display: flex $i;
	align-items: center $i;
	if (justification) {
		justify-content: justification $i;
	}
}

// etc.
anim(name =, func = ) {
	@media (prefers-reduced-motion: no-preference) {
		{name ? animation : transition}: name var(--trans-dur) func $i;
	}
}

dropfade() {
	anim(dropfade, cubic-bezier(.2, .9, .6, 1));
}

focus(p = focus) {
	anim();

	&:{p} {
		border-color: var(--hl) $i;
		box-shadow: var(--shadow-ins) var(--hl) $i;
		outline: none $i;
	}
}

header-focus(class = page-focus) {
	.{class} & {
		--bg2: var(--accent);
		--fg: var(--accent-fg);
		--fg2: var(--accent-fg);
		--border: var(--accent-border);
	}

	// Chromuim is unable to recognise the selector
	@supports not (-moz-appearance: none) { :root:not(:-moz-window-inactive) {
		--bg2: var(--accent);
		--fg: var(--accent-fg);
		--fg2: var(--accent-fg);
		--border: var(--accent-border);
	}}
}

replace-text(content =, text-color = fg, pos = after) {
	letter-spacing: -9999px $i;
	color: transparent $i;

	if (content) { // Replace
		&::{pos} {
			content: content $i;
			letter-spacing: 0 $i;
			color: svar(text-color) $i;
		}
	} else { // Hide
		* {
			letter-spacing: 0 $i;
			color: svar(text-color) $i;
		}
	}
}

hide-chars(amount, pos, bg =) {
	margin-{pos}: s('-%sch', amount) $i;
	position: relative $i;

	element = pos == left ? before : after;
	&::{element} {
		content: '' $i;
		position: absolute $i;
		pos();
		box(s('%sch', amount), 100%);
		bg(bg);
	}
}

// Input normalisation
normalise-select() {
	appearance: none $i;
	bgc(2);
	lnh();
	background-image:
		linear-gradient(55deg, var(--bg2) 43%, transparent 45%),
		linear-gradient(125deg, transparent 53%, var(--bg2) 55%),
		linear-gradient(180deg, var(--bg2) 30%, var(--fg) 30%) $i;
	background-size: 20px 20px $i;
	background-repeat: no-repeat $i;
	background-position: right 50% $i;
	padding: var(--pad) 20px var(--pad) var(--pad) $i;
	brd();
	focus();
}

normalise-input() {
	bgc(2);
	lnh();
	pad();
	brd();
	focus();

	&::placeholder {
		fg(2);
	}
}

normalise-button() {
	bgc(2);
	lnh();
	background-image: none $i;
	padding: var(--pad) calc(var(--pad) * 2) $i;
	brd();
	cursor: pointer $i;
	focus();

	&:disabled {
		opacity: .5 $i;
		pointer-events: none $i;
	}
}

normalise-color() {
	bg(2);
	pad(0);
	brd();
	box($select-size);
	focus();

	&::-webkit-color-swatch {
		border: none $i;
		border-radius: calc(var(--border-radius) * .33) $i;

		&-wrapper {
			pad(0);
		}
	}
}

normalise-checkbox(label = true) {
	if (label) {
		/label {
			lnh();
			center();
			gap: 1ch $i;
		}
	}

	appearance: none $i;
	bg(2);
	brd();
	border-radius: calc(var(--border-radius) * .33) $i;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) $i;
	mar(0);
	position: relative $i;
	box($select-size);
	min-width: $select-size $i;
	focus();

	&::before, &::after {
		content: '';
		position: absolute $i;
		pos();
		background-color: var(--hl) $i;
		transform-origin: 0 0 $i;
	}

	&::before {
		transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0) $i;
	}
	&::after {
		transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(0) $i;
	}
	&:indeterminate::before {
		transform: rotate(0) translateY(37.5%) translateX(10%) scaleX(0.8) scaleY(0.25) $i;
		transition-duration: 33.33333333ms $i;
	}

	&:checked {
		&::before {
			transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0.4) $i;
			transition-duration: 33.33333333ms $i;
		}
		&::after {
			transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(1.2) $i;
			transition-delay: 33.33333333ms $i;
			anim();
		}
	}
}

normalise-radio() {
	appearance: none $i;
	bg(2);
	brd();
	border-radius: 50% $i;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) $i;
	mar(0);
	position: relative $i;
	box($select-size);
	focus();

	&::before {
		content: '';
		position: absolute $i;
		pos(3px);
		background-color: var(--hl) $i;
		border-radius: 50% $i;
		transition: transform var(--trans-dur) linear $i;
		transform: scale(0) $i;
	}
	&:disabled::before {
		background-color: var(--fg3) $i;
	}
	&:checked::before {
		transition-timing-function: cubic-bezier(0, 0, 0.3, 1.5) $i;
		transform: scale(1) $i;
		anim();
	}
}

normalise-header(first = true) {
	fg();
	lnh();
	text-transform: uppercase $i;
	letter-spacing: 1px $i;
	pad(0);
	pad(bottom);
	brd(bottom);
	mar(0);
	mar(bottom);
	if (!first) {
		margin-top: calc(var(--pad) * 2) $i;
	}
}

// Website-specific functions
capitalise(e = \&) {
	{e}::first-letter {
		text-transform: capitalize;
	}
}

@-moz-document domain("old.reddit.com") {
	/**
	 * Global
	**/
	:root {
		settings = \
			'sidebar-width'

		for i in settings {
			\-\-{i}: convert(i);
		}
	}

	body {
		bgc();
		lnh();
	}
	.content {
		margin: var(--body-pad);
		position: relative;
		display: flex;
		flex-direction: column;

		&::before {
			normalise-header();

			.listing-page & {
				content: 'Posts';
			}
			.comments-page & {
				content: 'Post';
			}
		}
	}

	a {
		color: var(--fg-link);

		&:hover {
			text-decoration: underline;
		}
	}
	.gray {
		fg(2);
	}

	input[type="checkbox"] {
		normalise-checkbox();
	}

	#header,
	.side {
		position: fixed;
		{sidebar-pos}: 0;
		float: unset;
		z-index: 2;
	}
	#header {
		position: fixed;
		top: 0;
		width: 100%;
		padding-{sidebar-pos}: var(--sidebar-width);
	}
	.side {
		position: fixed;
		top: var(--header-h);
		bottom: 0;
		overflow: auto;
		brd(sidebar-pos == left ? right : left);
	}
	.content {
		margin-top: calc(var(--body-pad) + var(--header-h));
		margin-{sidebar-pos}: calc(var(--body-pad) + var(--sidebar-width));
	}

	/**
	 * Hide elements
	**/
	.comment .tagline .score, .comment .tagline .score-hidden, .search-result-icon-score, .search-score // Upvotes
	.footer-parent, .debuginfo,
	.linkflairlabel, .flair,
	.read-next-container,
	.comment .buttons,
	#sr-header-area, // Header top
	.awardings-bar,
	.report-button,
	#header-img,
	.linkinfo, // Sidebar post info

	// Not logged in
	#header-bottom-right, #login_login-main, .commentsignupbar,
	.subscribe-button, .submit,
	.give-gold-button, .share,
	.login-required,
	.midcol {
		display: none $i;
	}

	/**
	 * Header
	**/
	#header {
		bg(2);
		header-focus();
		brd(bottom);
		min-height: var(--header-h);
		box-sizing: border-box;

		&, &-bottom-left {
			center();
		}
	}
	.pagename {
		fg();
		font-variant: unset;
		margin-right: 1ch;

		a {
			fg();

			&::before {
				content: '/r/';
			}
		}
	}
	.tabmenu {
		mar(top, 0);

		li {
			mar(0);
			display: inline-flex;
			position: relative;

			&.selected a {
				hl();
				brd(0);
			}

			a {
				background-color: transparent;
				fg(2);
				text-transform: capitalize;
				pad();

				&:hover {
					color: var(--accent-fg) $i;
					text-decoration: none;
				}
			}
		}
	}

	/**
	 * Content
	**/
	.link .flat-list {
		pad(0);
	}
	.crosspost-preview {
		bg();
		brd();
		mar(top);

		&-header {
			pad();
		}
		&-tagline {
			margin-top: calc(var(--pad) / 2);
		}

		.link &-content .self-divider {
			brd(top);
			mar(0);
		}
	}
	.md {
		.link .usertext-body & {
			bg(2);
			pad();
			brd();
		}

		// to move
		.thing .expando & {
			bg();
			mar(bottom, 0);
		}

		blockquote {
			pad(0);
			brd(0);
			mar(left, 0);

			&, p {
				clr(2);
			}

			p {
				display: table-footer-group;

				&::before {
					content: '>';
				}
			}
		}

		code, pre {
			bg();
			pad(0);
			brd();
			mar(0);

			.expando & {
				bg(2);
				brd(0);
			}
		}
		pre {
			pad();
		}

		.linklisting &,
		.commentarea & {
			mar(top);
			mar(bottom, 0);
		}

		&, * {
			fg();
			lnh();
		}
		hr {
			background-color: var(--border);
			height: var(--border-width);
			margin: var(--pad) 0;

			.side &:first-child {
				mar(top);
			}
		}
		.-lists, ul, ol {
			padding-left: 3ch;
		}
		p, h3, h4, ul, ol {
			mar(0);
		}
		a {
			color: var(--fg-link) $i;
		}
	}
	.title {
		.thing &, .thing &:visited {
			color: var(--hl);
		}

		&-button {
			normalise-button();
			text-transform: capitalize $i;
			letter-spacing: 0 $i;
			mar(left);
			center();
			position: absolute;
			top: 0;
			right: calc(16ch + 20px + var(--pad) + var(--border-width) * 2);

			&:hover {
				text-decoration: none;
			}
		}
	}
	.morecomments a {
		color: var(--fg-link);
		mar(0);
		capitalise();
	}
	.tagline .stickied-tagline,
	.search-result-meta .stickied-tagline {
		clr(2);

		&::before { content: '(' $i; }
		&::after { content: ')'; }
	}

	.nav-buttons {
		margin-bottom: var(--body-pad) $i;
		capitalise();
	}
	.nextprev, .nextsuggestions {
		fg();

		a {
			normalise-button();
			display: inline-flex;
			align-items: center;

			&:hover {
				bg(2);
				text-decoration: none;
				border-color: var(--border);
			}

			&[rel$="prev"] {
				replace-text('Previous');
				mar(right);
			}
			&[rel$="next"] {
				replace-text('Next');
			}
		}

		.separator {
			display: none;
		}
	}

	// Comments
	.menuarea,
	.comment {
		mar(0);
		pad(0);
	}
	.commentarea {
		position: relative;
	}
	.panestack-title {
		normalise-header(false);

		.title {
			hide-chars(4, left);
			margin-left: calc(-4ch - 4px) $i;
		}
	}
	.menuarea {
		fg();
		brd(0);
		position: absolute;
		right: 0;
		top: 0;

		.content > & {
			letter-spacing: 1px;
			text-transform: uppercase;
			top: calc(var(--font-size) * -1 - var(--border-width));
		}

		.spacer {
			mar(0);
		}
	}
	.menuarea * {
		capitalise();
	}
	.reddit-infobar,
	.infobar {
		background-color: color-a(3);
		pad();
		brd(,color11);
		mar(0);
		mar(bottom);

		&.with-icon {
			min-height: unset;

			&::before {
				display: none;
			}
		}

		p {
			mar(0);
		}
	}
	.comment {
		.expand {
			fg(2);
			pad(0);
			margin-right: 1ch;
		}
		.child, .showreplies {
			brd(left, 0);
			mar(left, 0);
			mar(top);

			&:empty {
				display: none;
			}
		}
		&.collapsed {
			pad(bottom);
			lnh();
		}
		&.deleted em {
			clr(9);
		}
	}
	.usertext {
		&.grayed &-body,
		&.border &-body {
			background-color: transparent;
			fg();
			pad(0);
		}
	}

	// Search
	.search {
		&pane {
			pad(0);
			mar(0);

			h4 {
				normalise-header();
			}
			p {
				mar(0);
			}
		}
		&-submit-button {
			display: none;
		}
		&-menu {
			lnh();
			margin-left: 1ch;
		}
		&-result {
			mar(top, 0);

			&-group {
				pad(0);
				max-width: unset;
				min-width: unset;

				&-header {
					normalise-header(false);
					center(space-between);
				}
			}
			&-meta, &-meta > *,
			&-header {
				lnh();
			}
			&-meta {
				fg(2);
			}

			& > div {
				width: calc(100% - 70px - var(--pad));
			}
			a {
				fg(-link);
			}
		}
		&-expando {
			&::before {
				height: calc(var(--font-size) * var(--line-height)) $i;
				background-image: linear-gradient(to bottom, transparent, var(--bg2)) $i;
			}
			&-button {
				text-decoration: none $i;

				&.expanded &-label-expanded,
				&.collapsed &-label-collapsed {
					display: block;
					mar(top);
				}

				& > span {
					normalise-button();
					capitalise();
					--bg2: var(--bg);
					width: max-content;
				}
			}
		}
	}

	// Posts
	.thing, .search-result {
		bg(2);
		pad();
		brd();
		mar(bottom);

		& &,
		& & & &,
		& & & & & &,
		& & & & & & & &,
		& & & & & & & & & & {
			bg();
		}
		& & & & & & & & &,
		& & & & & & &,
		& & & & &,
		& & & {
			bg(2);
		}

		&.last-clicked {
			brd(, hl, false);
			box-shadow: var(--shadow-ins) var(--hl);
		}

		.title {
			margin: 0;
			a^[1..-1] { display: inline-block; }
		}

		.child & + .clearleft:last-child {
			margin-top: calc(var(--pad) * -1);
		}
	}
	.deepthread {
		&::after {
			display: none;
		}

		a {
			color: var(--fg-link);
		}
	}
	.rank {
		fg(2);
		mar(top, 0);
		float: right $i;
	}
	.thumbnail {
		mar(right);
		mar(bottom, 0);
	}
	.author {
		fg();
		mar(right, 0);
	}
	.entry {
		mar(left, 0);

		.buttons {
			li {
				padding-right: 1ch;
				margin-top: 2px;
				lnh();
			}

			a {
				fg(2);
				pad(0);
			}
		}
	}
	.stamp {
		bg();
		lnh();
		padding: 0 var(--pad);
		brd();
	}
	.expando {
		mar(0);

		&-button {
			mar(0);
			margin-right: 1ch $i;
		}
	}
	// https://gist.github.com/natyusha/3139942
	.expando-button {
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAGAAgMAAAA7UBF8AAAACVBMVEUAAABpaWnd3d03Mam/AAAAAXRSTlMAQObYZgAAAOpJREFUaN7FlTEOwyAMRQEVqWJi6AEYe4wOPUAiJffp2GNETBGnbMAeTMTQCMv8IU+WPX198pX6Q0v56nWdMhZbMM8N4A4usyYKu1LUOw7t5WtS2jJ2VxBjA7iDy6yNwiWKesehDj8rnfxkV4eflU5+Km4jNQLN8r5MNWw7ZjL5RCMNAs0KoUw1XDtmMvns91Mmn/1+iuTzeLfZUf2Y32Sy9kbQOpHO5/Fus6PmGb9kcu5O0DqRzieDnyL5ZPBT5v957iMPnfOCBvIAOuEOLsf1e4DO+UADBQCdcAeX4/r9up9j+v26n1z5/AH9RJFdB8vWrAAAAABJRU5ErkJggg==') $i;

		&.image {
			&.collapsed {
				background-position: 0px 0px $i;

				&:hover {
					background-position: 0px -24px $i;
				}
			}
			&.image.expanded {
				background-position: 0px -48px $i;

				&:hover {
					background-position: 0px -72px $i;
				}
			}
		}

		&.selftext {
			&.collapsed {
				background-position: 0px -96px $i;

				&:hover { 
					background-position: 0px -120px $i;
				}
			}
			&.expanded {
				background-position: 0px -144px $i;

				&:hover {
					background-position: 0px -168px $i;
				}
			}
		}

		&.video {
			&.collapsed {
				background-position: 0px -192px $i;

				&:hover {
					background-position: 0px -216px $i;
				}
			}
			&.expanded {
				background-position: 0px -240px $i;

				&:hover {
					background-position: 0px -264px $i;
				}
			}
		}

		&.gallery {
			&.collapsedExpando {
				background-position: 0px -288px $i;

				&:hover {
					background-position: 0px -312px $i;
				}
			}
			&.expanded {
				background-position: 0px -336px $i;

				&:hover {
					background-position: 0px -360px $i;
				}
			}
		}
	}

	.tagline {
		&,
		.comment.collapsed &,
		.comment.collapsed & a {
			fg(2);
		}
	}

	// Domains
	domains = {
		"i.redd.it":   Image,
		"imgur.com":   Image,
		"i.imgur.com": Image,
		"v.redd.it":   Video,
		"github.com":  GitHub
	}
	.domain {
		vertical-align: top;
		fg(2);

		.thing[data-domain^="self"]:not([data-crosspost-root-subreddit]) & {
			display: none;
		}
		for k, v in domains {
			.thing[data-domain=\"{k}\"] & a {
				replace-text(s('"%s"', v), fg2);
			}
		}
		.thing[data-domain="reddit.com"] & a,
		.thing[data-url^="https://www.reddit.com/gallery"] & a {
			replace-text('Album', fg2);
		}
	}

	// Dropdown
	.menuarea .dropdown span {
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;

		&, /.dropdown.lightdrop .selected {
			normalise-select();
			text-decoration: none $i;
			cursor: pointer;
		}
	}
	.drop-choices {
		bg();
		lnh();
		brd();
		shd(big);
		margin-top: 6px $i;
		position: unset;

		a {
			fg();
			pad();

			&:hover {
				hl();
				text-decoration: none;
			}
		}
	}

	/**
	 * Sidebar
	**/
	.side {
		bg(2);
		pad();
		mar(0);
		brd(bottom);
		width: var(--sidebar-width);
		box-sizing: border-box;

		@media (max-width: $small-screen) {
			display: none;
		}
		&::-webkit-scrollbar {
			display: none;
		}

		.spacer:first-child {
			mar(top, 0);
		}
	}

	#search {
		pad(0);

		input[type="text"] {
			normalise-input();
			min-width: unset $i;
			max-width: unset $i;
			width: 100%;

			&::placeholder {
				text-transform: capitalize;
			}
		}
		.side & input[type="text"] {
			--bg2: var(--bg);
		}

		&expando {
			bg();
			pad();
			brd();
			mar(top);

			input, p {
				mar(bottom, 0);
			}

			label {
				margin-bottom: calc(var(--pad) / 2);
			}
		}
	}
	.titlebox {
		:not(a), h1 a {
			fg();
		}
		a {
			color: var(--fg-link);
		}

		.bottom {
			pad(top, 0);
			brd(top);
		}
	}

	// Subreddit name, readers and online users in the same line
	.redditname,
	.users-online {
		display: initial;
	}
	.subscribers,
	.users-online .number {
		&::before {
			content: var(--delim);
		}
	}
	.subscribers .word,
	.users-online .word,
	.users-online::before {
		display: none;
	}
}
