/* ==UserStyle==
@name           zsh
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

@-moz-document domain("zsh.sourceforge.io") {
	body {
		background-color: var(--bg);
		color: var(--fg);
		line-height: var(--line-height);
	}

	hr {
		border: var(--border-width) solid var(--border);
	}

	a {
		color: var(--fg-link);

		&:not(:hover) {
			text-decoration: none;
		}
	}

	pre {
		background-color: var(--bg2);
		border: var(--border-width) solid var(--border);
		border-radius: var(--border-radius);
		padding: var(--pad);
		white-space: pre-wrap;
	}
}
