@import 'common';

@import 'tabs';
@import 'menu';
@import 'editor';

@import 'console';
@import 'elements';
@import 'styles';
@import 'settings';
@import 'unsorted';

// Variables
:root {
	--tab-size: 2;

	// Background & text
	--color-primary: var(--hl) $i;
	--color-background: var(--bg) $i;
	--color-background-inverted: var(--fg) $i;
	--color-background-opacity-50: var(--color-background-elevation-0) $i;
	--color-background-opacity-80: var(--color-background-elevation-1) $i;
	--color-background-elevation-0: var(--bg2) $i;
	--color-background-elevation-1: var(--bg3) $i;
	--color-background-elevation-2: var(--bg4) $i;
	/** Used when the elevation is visible only on dark theme */
	--color-background-elevation-dark-only: var(--color-background);
	--color-background-highlight: rgb(202 205 209);
	/** To draw grid lines behind elements */
	--divider-line: var(--border) $i;
	/**
	 * When hovering over an element and the background should be a little
	 * bit darker. For example, when hovering over a node in the flame chart
	 * tree in the performance panel. This color is intentionally opague,
	 * since the color of the underlying element should still be dominant.
	 */
	--color-background-hover-overlay: rgb(56 121 217 / 10%);
	/**
	 * Used when selecting a range of a section, for example when
	 * selecting a range in the performance panel timeline.
	 */
	--color-selection-highlight: rgb(56 121 217 / 30%);
	--color-selection-highlight-border: rgb(16 81 177);
	/**
	 * When showing matching elements of a particular search filter (for example
	 * when showing all matching css selectors/rules in the elements style
	 * pane). The highlight is intended to be used on top of the original background
	 * color and text color.
	 */
	--color-match-highlight: rgb(56 121 217 / 20%);
	--color-text-primary: var(--fg) $i;
	--color-text-secondary: var(--fg2) $i;
	--color-text-secondary-selected: rgb(188 185 182);
	--color-text-disabled: var(--fg2) $i;
	--color-line-number: var(--fg2) $i;
	--color-token-variable: var(--color1) $i;
	--color-link: var(--fg-link) $i;
	--color-details-hairline: var(--border) $i;

	// Colorscheme
	--color-syntax-1: var(--color1) $i;
	--color-syntax-2: var(--color2) $i;
	--color-syntax-3: var(--color3) $i;
	--color-syntax-4: var(--color4) $i;
	--color-syntax-5: var(--color5) $i;
	--color-syntax-6: var(--color6) $i;
	--color-syntax-7: var(--color7) $i;

	--color-token-variable: var(--color9) $i;
	--color-token-property: var(--color13) $i;
	--color-token-type: var(--color11) $i;
	--color-token-definition: var(--color12) $i;
	--color-token-variable-special: var(--color10) $i;
	--color-token-builtin: var(--color10) $i;
	--color-token-keyword: var(--color12) $i;
	--color-token-number: var(--color10) $i;
	--color-token-string: var(--color13) $i;
	--color-token-string-special: var(--color13) $i;
	--color-token-atom: var(--color10) $i;
	--color-token-tag: var(--color13) $i;
	--color-token-attribute: var(--color11) $i;
	--color-token-attribute-value: var(--color12) $i;
	--color-token-comment: var(--fg2) $i;
	--color-token-meta: var(--fg2) $i;
	--color-token-deleted: var(--color9) $i;
	--color-token-inserted: var(--color10) $i;
	--color-token-pseudo-element: var(--color11) $i;
	--color-matching-bracket-background: var(--hl) $i;
	--color-matching-bracket-underline: var(--hl) $i;
	--color-editor-selection: var(--hl) $i;

	// Shadows
	--drop-shadow: var(--shadow-big) $i;

	--legacy-accent-color: var(--hl) $i;
	--legacy-accent-fg-color: var(--fg) $i;
	--legacy-accent-fg-color-hover: var(--fg) $i;
	--legacy-focus-bg-color: var(--border) $i;
	--legacy-focus-ring-inactive-shadow: none $i;
	--legacy-toolbar-hover-bg-color: var(--bg2) $i;
	--legacy-selection-bg-color: var(--hl) $i;
	--legacy-selection-fg-color: var(--hl-fg) $i;
	--legacy-selection-inactive-fg-color: var(--hl-fg) $i;
	--legacy-selection-inactive-bg-color: var(--hl) $i;
	--legacy-tab-selected-fg-color: var(--fg) $i;
	--legacy-item-selection-bg-color: var(--hl) $i;
	--legacy-item-selection-inactive-bg-color: var(--hl) $i;

	// months later wtf r u doing
	--item-hover-color: var(--bg2) $i;
}

// Remove elements
// I. Buttons
[title="Show Computed Styles sidebar"],
[aria-label="Toggle device toolbar"],
[title="Toggle CSS Layers view"],
[title^="Open Console to view"],
[title="Toggle Element State"],
[title="Open flexbox editor"],
[title="Element Classes"],
.new-rule-toolbar,
devtools-adorner, // Enable flex mode
issue-counter,

// II. Tabs
[aria-label="Main toolbar"] #tab-console,
#tab-heap_profiler,
#tab-lighthouse,
//#tab-resources,
#tab-timeline,

// III. Unsorted
.style-panes-wrapper > :last-child,
[aria-label="Side panel toolbar"],
.console-toolbar-container,
#elements-crumbs,
.toolbar-divider,
.selected-hint // == $0
{
	display: none $i;
}

// IV. Fixes
.style-panes-wrapper > :first-child {
	brd(bottom, 0);
}
#console-messages {
	brd(top);
}

// Global styles
:root {
	--font-normal: var(--font-code) $i;
}

input {
	&[type="text"],
	&[type="number"],
	&[type="search"] {
		normalise-input();
	}
	&[type="color"] {
		normalise-color();
	}
	&[type="checkbox"] {
		normalise-checkbox(false);
		filter: none $i;
	}
	&[type="radio"] {
		normalise-radio();
	}
	&[type="date"],
	/select:not(.unit) {
		normalise-select();
	}
}
.text-button {
	normalise-button();
	mar(0);
	height: unset $i;

	&:not(:focus):hover {
		shd(0);
	}
}

.dt-checkbox-text {
	margin-left: 1ch $i;
}

[is=ui-icon].icon-mask {
	--override-icon-mask-background-color: var(--fg2) $i;

	&:hover {
		background-color: var(--fg) $i;
	}
}
