horizontal-menu-oneline = false;
$focus-class = 'hasfocus';
$tabs-left-width = 32px;

#browser {
	// Openbox limitation(s)(?)
	--window-button-size: 16px;
	--window-button-icon: var(--icon-size);
}

@import 'common';

@import 'global';
@import 'browser';
@import 'window';
@import 'minimal-ui';
@import 'properties';
@import 'unsorted';
