#browser, #browser + div, #browser + div + div {
	font-size: medium;
}
.close {
	cursor: pointer;
}
.topmenu {
	mar(bottom, 0);
}
.manager > .toolbar + .toolbar {
	padding-top: 6px;
}
#downloads .download-editor {
	pad(0);
}
